apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    password: ""
    user: ""
    database: ""
    basicAuth: false
    isDefault: true
    jsonData:
      timeInterval: 15s
    editable: true

  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    password: ""
    user: ""
    database: ""
    basicAuth: false
    isDefault: false
    jsonData:
      maxLines: 1000
    editable: true

  - name: Jaeger
    type: jaeger
    access: proxy
    orgId: 1
    url: http://jaeger:16686
    password: ""
    user: ""
    database: ""
    basicAuth: false
    isDefault: false
    jsonData: {}
    editable: true
